/*
Theme Name: Guatedestinos theme
Theme URI:
Author: TechWeb team
Author URI: http://techwebgt.com
Description: Guatedestinos website
Version: 1.0.1
Tags: white
Text Domain: guatedestinos
*/


/* # reset */
*, *:after, *:before {
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: 100%;
}
figure {
  padding: 0 !important;
  margin: 0 !important;
}
a, a:hover {
  text-decoration: none;
}
body {
  font-size: 18px;
  font-family: Tahoma;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul, .no-list {list-style: none;}

/* Theme */
/* # Theme */
.row {
  margin-left: 0;
  margin-right: 0;
}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-50 {width: 50%;}
.j-center {justify-content: center;}
.j-end {justify-content: flex-end;}
.j-start {justify-content: flex-start;}
.a-center {align-items: center;}
.a-end {align-items: flex-end;}
.full-width {width: 100%;}
.full-height {height: 100%;}
.border-none {border: none;}
.p-absolute {position: absolute;}
.p-fixed {position: fixed;}
.p-relative {position: relative;}

.container-fluid {
  padding: 0px;
}

footer{
  font-family: "Montserrat",sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0rem;
}

html,body{
  overflow-x: hidden;
}


.boton-shadow {
  box-shadow: 0 4px 9px rgba(0,0,0,.4); /*Sombra leve*/
  border-radius: 2px;
  transform: rotateZ(360deg);
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}
.boton-shadow:hover, .boton-shadow:active{
  box-shadow: 0 9px 10px rgba(0,0,0,.4);
}
.carousel img{
  width: 100%;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next{
  width: 2.5rem;
}

@media only screen and (max-width:480px){
  footer{
    font-size: 0.8rem;
  }
  .carousel .carousel-control-prev, .carousel .carousel-control-next{
    width: 1.5rem;
  }
}


/* formularios */

.form {
  padding: 1rem;
  font-family: "Montserrat";
}

.form li {
  margin-top: 5px !important;
  padding: 5px !important;
}

.form label {
  font-size: 1rem !important;
  width: 100%;
  text-align: left;
}

.form input,
.form textarea,
.form select {
  width: 100% !important;
  font-size: 0.9rem !important;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
  background-color: #e5e5e5;
}

.form textarea {
  height: 80px !important;
}

.form .gform_footer {
  padding-right: 8px !important;
  padding-left: 10px !important;
}

.form span.gfield_required {
  color: black !important;
}

.form input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form input[type="submit"]:hover {
  background-color: black;
}