.carousel3D{
    position: relative;
}
.carousel3D .scene {
  /* border: 1px solid #CCC; */
  margin: 40px 0;
  position: relative;
  width: 410px;
  height: 340px;
  margin: 80px auto;
  perspective: 1000px;
}

.carousel3D .carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel3D .carousel__cell {
  position: absolute;
  width: 390px;
  height: 320px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel3D .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel3D .carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }



.carousel3D .carousel-options {
  text-align: center;
  z-index: 2;
}

.carousel3D .carousel-options .previous-button, .carousel3D .carousel-options .next-button{
    position: absolute;
    padding: 1em 2em;
    cursor: pointer;
    top:40%; 
    border: none;
    background-color: transparent;
}
.carousel3D .carousel-options .previous-button img, .carousel3D .carousel-options .next-button img{
   width: 3rem;
}

.carousel3D .carousel-options .previous-button{
    left: 0%;
}
.carousel3D .carousel-options .next-button{
    right: 0%;
}

.carousel3D .carousel-options .previous-button:active,
.carousel3D .carousel-options .next-button:active {
    top: calc(40% + 4px);
  }
.carousel3D .carousel-options .previous-button:focus,
.carousel3D .carousel-options .next-button:focus {
    outline:0;
  }


  @media only screen and (max-width:650px) {
    .carousel3D .scene {
        width: 210px;
        height: 140px;
      }

      .carousel3D .carousel__cell {
        width: 190px;
        height: 120px;
      }
      .carousel3D .carousel-options .previous-button img, .carousel3D .carousel-options .next-button img{
        width: 1.5rem;
     }
     .carousel3D .carousel-options .previous-button, .carousel3D .carousel-options .next-button{
        top:40%; 
    }
  }