#nosotros, #nosotros .title, #nosotros .lista .elemento, #destinos, .alianzas, .alianzas .lista a, .calendario, #form_contacto, header, header .menu, header nav, header nav .menu-item, header nav .menu-item a, #inicio, #destinos .title, .linea, #contacto .lista, #contacto .lista .info, #contacto .lista .social, #contacto .lista .grupo, #contacto .lista .inguat, .alianzas .title, .alianzas .lista, .alianzas .lista .grupo, .calendario .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros, #nosotros .title, #nosotros .lista .elemento, #destinos, .alianzas, .alianzas .lista a, .calendario, #form_contacto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "candara";
  src: url("../fonts/Candara.ttf") format("truetype");
}

@font-face {
  font-family: "mistral";
  src: url("../fonts/MISTRAL.TTF") format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Calibri";
  padding-right: 0rem !important;
}

header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1rem;
  width: 100%;
  font-family: "Montserrat";
  text-transform: uppercase;
  z-index: 9;
  color: white;
  position: relative;
  font-weight: bold;
  background-image: url("../img/cambios-02.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  padding-bottom: 10rem;
}

header .logo {
  position: absolute;
  top: 3rem;
  left: 1rem;
}

header .logo img {
  width: 7rem;
}


header .menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
}

header nav {
  height: 100%;
}

header nav .menu-item a:hover,
header nav .menu-item a.active {
  background-color: black;
}

header nav .menu-item a {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  line-height: 100%;
}

header .header__nav .nav-link {
  padding: 0.5rem 1rem !important;
}

header .social img {
  width: 5rem;
  margin: 0 1rem;
}

#inicio {
  margin-top: 5rem;
}

#inicio .carousel-indicators {
  bottom: 3rem;
  z-index: 2;
}

#inicio .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fcbd0248;
}

#inicio .carousel-indicators .active {
  background-color: #fcbe02;
}

#nosotros {
  padding-bottom: 4rem;
  position: relative;
}

#nosotros .title {
  margin-top: -3rem;
  z-index: 2;
  position: relative;
}

#nosotros .title .fondo {
  width: 100%;
}

#nosotros .title .texto {
  position: absolute;
  top: 5rem;
  right: 10rem;
  font-size: 5rem;
  line-height: 100%;
  font-family: "Calibri";
  font-weight: bold;
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
  color: #24405f;
}

#nosotros .title .texto img {
  width: 5rem;
}

#nosotros .lista {
  width: 90%;
}

#nosotros .lista .elemento {
  padding: 5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  text-align: justify;
  font-size: 1rem;
  font-family: "candara";
}

#nosotros .lista .elemento .title-elemento {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #24405f;
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
}

#nosotros .lista .elemento ul {
  width: 90%;
}

#nosotros .linea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}

#destinos {
  background-image: url("../img/fondo de destinos.png");
  background-size: cover;
  background-position: top center;
  margin-top: 3rem;
  padding: 5%;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

#destinos .title {
  text-transform: uppercase;
  font-family: "mistral";
  font-size: 4rem;
  line-height: 80%;
  margin-bottom: 4rem;
}

#destinos .title img {
  height: 5rem;
}

#destinos .title .texto {
  color: #24405f;
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
}

#destinos .title .texto strong {
  color: #fcbe02;
}

#destinos .carousel3D {
  width: 90%;
}

.linea {
  margin: 3rem 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.linea img {
  width: 40%;
}

.fondo1 {
  background-image: url("../img/destinos/Guatemala.png") !important;
}

.fondo2 {
  background-image: url("../img/destinos/IZABAL.png") !important;
}

.fondo3 {
  background-image: url("../img/destinos/PETEN.png") !important;
}

.fondo4 {
  background-image: url("../img/destinos/Retalhuleu.png") !important;
}

.fondo5 {
  background-image: url("../img/destinos/Sacatepequez.png") !important;
}

.fondo6 {
  background-image: url("../img/destinos/santa rosa.png") !important;
}

.fondo6 {
  background-image: url("../img/destinos/Solola.png") !important;
}

#preload-01 {
  background: url("../img/destinos/Guatemala.png") no-repeat -9999px -9999px;
}

#preload-02 {
  background: url("../img/destinos/IZABAL.png") no-repeat -9999px -9999px;
}

#preload-03 {
  background: url("../img/destinos/PETEN.png") no-repeat -9999px -9999px;
}

#preload-04 {
  background: url("../img/destinos/Retalhuleu.png") no-repeat -9999px -9999px;
}

#preload-05 {
  background: url("../img/destinos/Sacatepequez.png") no-repeat -9999px -9999px;
}

#preload-06 {
  background: url("../img/destinos/santa rosa.png") no-repeat -9999px -9999px;
}

#preload-07 {
  background: url("../img/destinos/Solola.png") no-repeat -9999px -9999px;
}

#contacto {
  background-color: #34c934;
}

#contacto .lista {
  -webkit-column-count: 4;
          column-count: 4;
  padding: 2%;
  color: white;
  font-family: "candara";
}

#contacto .lista .info, #contacto .lista .social {
  width: 25%;
}

#contacto .lista .grupo, #contacto .lista .ingua, #contacto .lista .tel {
  width: 50%;
}

#contacto .lista .info {
  text-transform: uppercase;
  line-height: 100%;
  font-size: 1rem;
}

#contacto .lista .social img {
  width: 4rem;
  margin: 0 0.5rem;
}

#contacto .lista .tel {
  text-align: center;
  line-height: 80%;
  font-size: 2rem;
}

#contacto .lista .tel small {
  font-size: 0.8rem;
}

#contacto .lista .tel strong {
  font-size: 4rem;
}

#contacto .lista .inguat img {
  width: 80%;
}

.alianzas {
  min-height: 30rem;
  padding-top: 14rem;
  background-image: url("../img/segunda/fondo.png");
  background-size: cover;
  background-position: top center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.alianzas .title img {
  height: 4rem;
  margin-right: 0.5rem;
}

.alianzas .title .texto {
  font-size: 4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #24405f;
  font-weight: bold;
  text-align: center;
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
}

.alianzas .descripcion {
  width: 80%;
  margin: 5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "candara";
}

.alianzas .lista {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
}

.seccion1{

}

.seccionres{
  display: none !important;
}



.flip-card {
  background-color: transparent;
  width: 30% !important;
  height: 300px !important;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-front img{
  width:300px !important;
  height:300px !important;
} 

.flip-card-back {
  background-color: #575756;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1{
  font-size: 2.5rem !important;
}

.flip-card-back h2{
  font-size: 2.5rem !important;
}

.alianzas .lista a {
  text-align: center;
  margin: 2rem;
}

.alianzas .lista a h4 {
  margin-top: 1rem;
  font-family: "mistral";
  line-height: 90%;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.alianzas .lista a img {
  width: 7rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.alianzas .lista a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.calendario {
  min-height: 30rem;
  padding-top: 14rem;
  background-image: url("../img/tercera/fondo.png");
  background-size: cover;
  background-position: top center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calendario .title img {
  height: 4rem;
  margin-right: 0.5rem;
}

.calendario .title .texto {
  font-size: 4rem;
  line-height: 80%;
  text-transform: uppercase;
  color: #24405f;
  font-weight: bold;
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
}

.calendario .calendar {
  width: 90%;
}

#form_contacto {
  background-color: #34c934;
  width: 100%;
}

#form_contacto .title {
  text-transform: uppercase;
  font-family: "candara";
  font-size: 3rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.185);
  text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
  margin: 1rem;
}

@media only screen and (max-width: 1200px) {
  header .logo img {
    width: 5rem;
  }
}

@media only screen and (max-width: 1100px) {
  #nosotros .title .texto {
    font-size: 4rem;
  }
  #nosotros .title .texto img {
    width: 4rem;
  }
  #inicio {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 999px) {
  #contacto .lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .lista .info, #contacto .lista .social {
    margin-bottom: 2rem;
    width: auto;
  }
  #contacto .lista .grupo {
    width: 70%;
  }
  header .logo img {
    width: 4rem;
  }
}

@media only screen and (max-width: 920px) {
  #nosotros .title .texto {
    right: 5rem;
  }
  #nosotros .lista {
    width: 95%;
    margin-top: 4rem;
  }
  #nosotros .lista .elemento {
    padding: 2%;
    font-size: 0.8rem;
  }
  .calendario {
    padding-top: 8rem;
  }
  .alianzas {
    padding-top: 8rem;
  }
  .alianzas .lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  header .social img {
    width: 3rem;
  }
}

@media only screen and (max-width: 775px) {
  #nosotros .lista {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 650px) {
  #nosotros .title {
    margin-top: -1rem;
  }
  #nosotros .title .texto {
    font-size: 2rem;
    right: 2rem;
  }
  #nosotros .lista .elemento .title-elemento {
    font-size: 2rem;
  }
  #inicio {
    margin-top: 2rem;
  }
  #inicio .carousel-indicators {
    bottom: 1rem;
  }
  #inicio .carousel-indicators li {
    width: 10px;
    height: 10px;
  }
  #destinos {
    padding-left: 0;
    padding-right: 0;
  }
  #destinos .carousel3D {
    width: 100%;
  }
  header .logo {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #inicio {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #nosotros .lista {
    margin-top: 8rem;
  }
  .calendario {
    padding-top: 4rem;
  }
  .calendario .title .texto {
    font-size: 2rem;
  }
  .alianzas {
    padding-top: 4rem;
  }
  .alianzas .title .texto {
    font-size: 2.5rem;
  }
  .alianzas .descripcion {
    width: 90%;
    margin: 3rem 0;
    font-size: 1rem;
  }
  .alianzas .lista a {
    margin: 1rem;
  }
  #destinos .title {
    margin-bottom: 1rem;
  }
  #destinos .carousel3D .scene {
    height: 90px;
  }
  #contacto .lista .grupo {
    width: 100%;
  }
  #contacto .lista .grupo .tel {
    font-size: 1.5rem;
  }
  #contacto .lista .grupo .tel strong {
    font-size: 3rem;
  }
  #contacto .lista .grupo .tel small {
    font-size: 0.6rem;
  }
  .seccion1{
    display: none !important;
  }
  .seccionres{
    display: contents !important;
  }

  .oxilab-flip-box-wrapper {
    display: flex !important;
}
}
/*# sourceMappingURL=tech.css.map */