%d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%d-flex-col {
    @extend %d-flex;
    flex-direction: column;
}

@font-face {
    font-family: "candara";
    src: url('../fonts/Candara.ttf') format("truetype");
}
@font-face {
    font-family: "mistral";
    src: url('../fonts/MISTRAL.TTF') format("truetype");
}

$color-amarillo: #fcbe02;
$color-celeste: #01aff0;
$color-azul: #24405f;
$color-verde: #34c934;

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Calibri";
    padding-right: 0rem !important;
}

header {
    @extend %d-flex;
    align-items: flex-start;
    padding-top: 1rem;
    width: 100%;
    font-family: "Montserrat";
    text-transform: uppercase;
    z-index: 9;
    color: white;
    position: relative;
    font-weight: bold;
    background-image: url('../img/barra de menu2.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    padding-bottom: 10rem;

    .logo{
        position: absolute;
        top: 3rem;
        left: 1rem;
        img{
            width: 7rem;
        }
    }

    .menu {
        @extend %d-flex;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0rem 1rem;
    }

    nav {
        @extend %d-flex;
        height: 100%;
        .menu-item{
            @extend %d-flex;
        }
        .menu-item a:hover,
        .menu-item a.active {
            background-color: black;
        }
        .menu-item a {
            font-size: 1.2rem;
            text-align: center;
            color: white;
            @extend %d-flex;
            line-height: 100%;
        }
    }

    .header__nav .nav-link {
        padding: 0.5rem 1rem !important;
    }
    .social{
        img{
            width: 5rem;
            margin: 0 1rem;
        }
    }
}
#inicio{
    @extend %d-flex;
    margin-top: 5rem;
    .carousel-indicators{
        bottom: 3rem;
        z-index: 2;
        li {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #fcbd0248;
          }      
        .active {
            background-color: $color-amarillo;
        }      
    }
}
#nosotros{
    @extend %d-flex-col;
    padding-bottom: 4rem;
    position: relative;
    .title{
        @extend %d-flex-col;
        margin-top: -3rem;
        z-index: 2;
        position: relative;
        .fondo{
            width: 100%;
        }
        .texto{
            position: absolute;
            top: 5rem;
            right: 10rem;
            font-size: 5rem;
            line-height: 100%;
            font-family: "Calibri";
            font-weight: bold;
            text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
            color: $color-azul;
            img{
                width: 5rem;
            }
        }
    }
    .lista{
        width: 90%;
        .elemento{
            padding: 5%;
            @extend %d-flex-col;
            justify-content: flex-start;
            text-transform: uppercase;
            text-align: justify;
            font-size: 1rem;
            font-family: "candara";
            .title-elemento{
                font-size: 3rem;
                margin-bottom: 2rem;
                font-weight: bold;
                color: $color-azul;
                text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
            }
            ul{
                width: 90%;
            }
        }
    }
    .linea{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
    }
}
#destinos{
    background-image: url('../img/fondo de destinos.png');
    background-size: cover;
    background-position: top center;
    margin-top: 3rem;
    @extend %d-flex-col;
    padding: 5%;
    transition: background 1s linear;
    .title{
        @extend %d-flex;
        text-transform: uppercase;
        font-family: "mistral";
        font-size: 4rem;
        line-height: 80%;
        margin-bottom: 4rem;
        img{
            height: 5rem;
        }
        .texto{
            color: $color-azul;
            text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
            strong{
                color: $color-amarillo;
            }
        }
    }
    .carousel3D{
        width: 90%;
    }
}
.linea{
    margin: 3rem 0;
    @extend %d-flex;
    justify-content: flex-end;
    img{
        width: 40%;
    }
}
.fondo1{
background-image: url('../img/destinos/Guatemala.png') !important;
}
.fondo2{
background-image: url('../img/destinos/IZABAL.png') !important;
}
.fondo3{
background-image: url('../img/destinos/PETEN.png') !important;
}
.fondo4{
background-image: url('../img/destinos/Retalhuleu.png') !important;
}
.fondo5{
background-image: url('../img/destinos/Sacatepequez.png') !important;
}
.fondo6{
background-image: url('../img/destinos/santa rosa.png') !important;
}
.fondo6{
background-image: url('../img/destinos/Solola.png') !important;
}
#preload-01 { background: url('../img/destinos/Guatemala.png') no-repeat -9999px -9999px; }
#preload-02 { background: url('../img/destinos/IZABAL.png') no-repeat -9999px -9999px; }
#preload-03 { background: url('../img/destinos/PETEN.png') no-repeat -9999px -9999px;}
#preload-04 { background: url('../img/destinos/Retalhuleu.png') no-repeat -9999px -9999px;}
#preload-05 { background: url('../img/destinos/Sacatepequez.png') no-repeat -9999px -9999px;}
#preload-06 { background: url('../img/destinos/santa rosa.png') no-repeat -9999px -9999px;}
#preload-07 { background: url('../img/destinos/Solola.png') no-repeat -9999px -9999px;}
#contacto{
    background-color: $color-verde;
    .lista{
        column-count: 4;
        padding: 2%;
        color: white;
        @extend %d-flex;
        font-family: "candara";
        .info, .social{
            width: 25%;
            @extend %d-flex;
        }
        .grupo, .ingua, .tel{
            width: 50%;
        }
        .grupo{
            @extend %d-flex;
        }
        .info{
            text-transform: uppercase;
            line-height: 100%;
            font-size: 1rem;
        }
        .social{
            img{
                width: 4rem;
                margin: 0 0.5rem;
            }
        }
        .tel{
            text-align: center;
            line-height: 80%;
            font-size: 2rem;
            small{
                font-size: 0.8rem;
            }
            strong{
                font-size: 4rem;
            }
        }
        .inguat{
            @extend %d-flex;
            img{
                width: 80%;
            }
        }
    }
}

.alianzas{
    min-height: 30rem;
    padding-top: 14rem;
    @extend %d-flex-col;
    background-image: url('../img/segunda/fondo.png');
    background-size: cover;
    background-position: top center;
    justify-content: flex-start;

    .title{
        @extend %d-flex;
        img{
            height: 4rem;
            margin-right: 0.5rem;
        }
        .texto{
            font-size: 4rem;
            line-height: 100%;
            text-transform: uppercase;
            color: $color-azul;
            font-weight: bold;
            text-align: center;
            text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
        }
    }
    .descripcion{
        width: 80%;
        margin: 5rem 0;
        text-align: center;
        text-transform: uppercase;
        font-family: "candara";
    }
    .lista{
        @extend %d-flex;
        align-items: flex-start;
        margin-bottom: 2rem;
        .grupo{
            @extend %d-flex;
        }
        a{
            @extend %d-flex-col;
            text-align: center;
            margin: 2rem;
            h4{
                margin-top: 1rem;
                font-family: "mistral";
                line-height: 90%;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
            }
            img{
                width: 7rem;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
            }
        }
        a:hover img{
            transform: scale(1.2);
        }
    }
}

.calendario{
    min-height: 30rem;
    padding-top: 14rem;
    @extend %d-flex-col;
    background-image: url('../img/tercera/fondo.png');
    background-size: cover;
    background-position: top center;
    justify-content: flex-start;
    .title{
        @extend %d-flex;
        img{
            height: 4rem;
            margin-right: 0.5rem;
        }
        .texto{
            font-size: 4rem;
            line-height: 80%;
            text-transform: uppercase;
            color: $color-azul;
            font-weight: bold;
            text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
        }
    }
    .calendar{
        width: 90%;
    }
}
#form_contacto{
    background-color: $color-verde;
    width: 100%;
    @extend %d-flex-col;
    .title{
        text-transform: uppercase;
        font-family: "candara";
        font-size: 3rem;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.185);
        text-shadow: -3px 0px rgba(0, 0, 0, 0.315);
        margin: 1rem;
    }
}

@media only screen and (max-width:1200px) {
    header{
        .logo{
            img{
                width: 5rem;
            }
        }
    }
}
@media only screen and (max-width:1125px) {
}

@media only screen and (max-width:1100px) {
    #nosotros{
        .title{
            .texto{
                font-size: 4rem;
                img{
                    width: 4rem;
                }
            }
        }
    }
    #inicio{
        margin-top: 3rem;
    }
}

@media only screen and (max-width:999px) {
    #contacto{
        .lista{
            flex-direction: column;
            .info, .social{
                margin-bottom: 2rem;
                width: auto;
            }
            .grupo{
                width: 70%;
            }
        }
    }
    header{
        .logo{
            img{
                width: 4rem;
            }
        }
    }
}

@media only screen and (max-width:920px) {
    #nosotros{
        .title{
            .texto{
                right: 5rem;
            }
        }
        .lista{
            width: 95%;
            margin-top: 4rem;
            .elemento{
                padding: 2%;
                font-size: 0.8rem;
            }
        }
    }
    .calendario{
        padding-top: 8rem;
    }
    .alianzas{
        padding-top: 8rem;
        .lista{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width:800px) {
    header{
        .social{
            img{
                width: 3rem;
            }
        }
    }
    #contacto{
        
    }
}

@media only screen and (max-width:775px) {
    #nosotros{
        .lista{
            margin-top: 6rem;
        }
    }
}

@media only screen and (max-width:650px) {
    #nosotros{
        .title{
            margin-top: -1rem;
            .texto{
                font-size: 2rem;
                right: 2rem;
            }
        }
        .lista{
            .elemento{
                .title-elemento{
                    font-size: 2rem;
                }
            }
        }
    }
    #inicio{
        margin-top: 2rem;
        .carousel-indicators{
            bottom: 1rem;
            li {
                width: 10px;
                height: 10px;
              } 
        }
    }
    #destinos{
        padding-left: 0;
        padding-right: 0;
        .carousel3D{
            width: 100%;
        }
    }
    header .logo{
        display: none;
    }

}


@media only screen and (max-width:575px) {
    #inicio{
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width:480px) {
    #nosotros{
        .lista{
            margin-top: 8rem;
        }
    }
    .calendario{
        padding-top: 4rem;
        .title{
            .texto{
                font-size: 2rem;
            }
        }
    }
    .alianzas{
        padding-top: 4rem;
        .title{
            .texto{
                font-size: 2.5rem;
            }
        }
        .descripcion{
            width: 90%;
            margin: 3rem 0;
            font-size: 1rem;
        }
        .lista{
            a{
                margin: 1rem;
            }
        }
    }
    #destinos{
        .title{
            margin-bottom: 1rem;
        }
        .carousel3D{
            .scene{
                height: 90px;
            }
        }
    }
    #contacto{
        .lista{
            .grupo{
                width: 100%;
                .tel{
                    font-size: 1.5rem;
                    strong{
                        font-size: 3rem;
                    }
                    small{
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:380px) {

}